# Vendors (gérés par Composer)
vendor/

# Cache et logs
var/cache/
var/log/

# Base de données SQLite (si utilisée)
*.sqlite
*.sqlite3

# Node modules
node_modules/

# Fichiers systèmes
.DS_Store
Thumbs.db
